.brand-label {
  margin-left: 15px;
}

.my-top-menu .icon-bar {
  margin-left: auto;
}

/* only need to style when it isn't collapsed */
@media (min-width: 768px) {
  /* .my-top-menu .my-top-nav {
    width: 100%;
  } */

  .my-top-menu .my-nav {
    display: none;
  }
}