@font-face {
  font-family: "Roboto Slab";
  src: url("./fonts/RobotoSlab-VariableFont_wght.ttf");
  src:
    url("./fonts/robotoslab-variablefont_wght-webfont.woff") format("woff"),
    url("/fonts/robotoslab-variablefont_wght-webfont.woff2") format("woff2")
  }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  
  background: #282c34;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
