h1, .roboto-text {
  font-family: 'Roboto Slab';
}

/* styles for when menu is to the left */
@media (min-width: 768px) {
  .content-area {
    margin-left: 250px;
  }

  .container {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.about-page, .portfolio, .resume, .contact-page, .error-page {
  padding-top: 3vh;
}

/* homepage styles */
.home-page {
  padding-top: 25vh;
}

/* resume */
.resume .job-section {
  margin-top: 2vh;
}

.resume h5 {
  font-family: 'Roboto Slab';
}