h1, .roboto-text {
  font-family: 'Roboto Slab';
}

/* styles for when menu is to the left */
@media (min-width: 768px) {
  .content-area {
    margin-left: 250px;
  }

  .container {
    padding-left: 25px;
    padding-right: 25px;
  }
}

/* homepage styles */
.home-page {
  padding-top: 25vh;
}
