@font-face {
  font-family: PressStart2P-Regular;
  src: url(/styles/fonts/PressStart2P-Regular.ttf);
}

body {
  font-family: PressStart2P-Regular;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  color: #343a40;
}

.main {
  max-width: 100%;
  width: 100%;
  height: 95vh;
}

.main img {
  margin-top: 150px;
  width: 100%;
  height: auto;
}

.content {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 2vh;
}
